<h1>Please Log In Below:</h1>



<div>
    <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">      
      <div>
        <input type="text" name="username" placeholder="Username"/>
      </div>
      <div>
        <input type="text" name="password" placeholder="Password"/>
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
</div>




<!--
<form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br>
    <input type="submit" value="Login">
</form>
-->