<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Reimbursement</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.reimbursement.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeDate</display-name>
    <servlet-name>ChangeDate</servlet-name>
    <servlet-class>com.reimbursement.servlets.ChangeDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDate</servlet-name>
    <url-pattern>/changedate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRequest</display-name>
    <servlet-name>NewRequest</servlet-name>
    <servlet-class>com.reimbursement.servlets.NewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRequest</servlet-name>
    <url-pattern>/newrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionLevel</display-name>
    <servlet-name>PermissionLevel</servlet-name>
    <servlet-class>com.reimbursement.servlets.PermissionLevel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionLevel</servlet-name>
    <url-pattern>/permissionlevel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSupervisorTables</display-name>
    <servlet-name>GetSupervisorTables</servlet-name>
    <servlet-class>com.reimbursement.servlets.GetSupervisorTables</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSupervisorTables</servlet-name>
    <url-pattern>/getsupervisortables</url-pattern>
  </servlet-mapping>
</web-app>